<div class="container">
    <div class="head-comp d-flex justify-content-between ">
        <h3>Your cart </h3>
        <button class="btn btn-outline-danger" (click)="deleteAll()">Clear Cart</button>
    </div>
        <div *ngFor="let cartProduct of cartProducts" class="row shadow-sm p-3">
            <div class="col-sm-2">
                <img class="w-100" [src]="cartProduct.product.imageCover" alt="">
            </div>
            <div class="col-md-10 d-flex justify-content-between align-items-center  ">
                
                    
                        <div>
                            <h4>{{cartProduct.product.title}}</h4>
                            <p>{{cartProduct.product.title}}</p>
                            <p>{{cartProduct.price}}</p>
                            <button class="btn text-danger" (click)="removeCartItem(cartProduct.product.id)"><i class="fa-regular fa-trash-can"></i> remove</button>
                         </div>
                        
                        <div >
                            
                            <button (click)="updateProductCount(cartProduct.product.id,cartProduct.count-1);cartProduct.count=cartProduct.count-1" class="btn btn-outline-warning ">-</button>
                            <span class="m-2">{{cartProduct.count}}</span>
                            <button (click)="updateProductCount(cartProduct.product.id,cartProduct.count+1);cartProduct.count=cartProduct.count+1" class="btn btn-outline-success " >+</button>
                                
                            
                        </div>
                    
                   
                
            </div>

        </div>
</div>