<div class="row align-items-center ">
    <div class="col-md-4">

      <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let img of productDetails?.images ">
          <ng-template carouselSlide >
            <img [src]='img' class="w-100">
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>
    </div>
    <div class="col-md-8">
        <h3>{{productDetails?.title}}</h3>
        <p >{{productDetails?.description}}</p>
        <p >{{productDetails?.category.name}}</p>
        <div class="d-flex justify-content-between ">
            <p>{{productDetails?.price}}</p>
            <p><span><i class="fa-regular fa-star rating-color"></i></span>{{productDetails?.ratingsAverage}}</p>
        </div>

        <button class="btn text-white m-auto d-block bg-main w-100" (click)="addProductToCart(productDetails.id)">add to cart</button>

    </div>
</div>