<div class="row">

    <div class="col-md-12">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide autoplay>
                <img src="./../../../assets/images/non.png" class="w-100" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="../../../assets/images/non2.png" class="w-100" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="../../../assets/images/non3.png" class="w-100" alt="">
            </ng-template>  
          </owl-carousel-o>
    </div>
    <div *ngFor="let product of products" class="col-lg-3 col-md-3 .col-sm-6">
        <app-product [product]="product" [routerLink]="'/product/'+product.id"></app-product>
    </div>
</div>`