<div class="container">
    <form [formGroup]="LoginForm" (ngSubmit)="login()" class="rounded shadow vstack gap-3 p-3 ">

        <div class="form-floating ">
            <div class="form-floating">
                <input type="text" class="form-control" 
                [ngClass]="{
                    'is-valid':!email?.errors &&
                    email?.dirty,
                    'is-invalid':email?.errors && 
                    email?.dirty
                }"
                formControlName="email" placeholder=" ">
                <label for="email">E-mail</label>
                <ul class="list-unstyled alert alert-danger p-1 small invalid-feedback  ">
                    <li *ngIf="email?.getError('required')">Required field</li>
                    <li *ngIf="email?.getError('pattern')">Error Email format</li>
                </ul>
            </div>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" formControlName="password" placeholder=" "
            [ngClass]="{
                'is-valid':!password?.errors &&
                password?.dirty,
                'is-invalid':password?.errors && 
                password?.dirty
            }">
            <label for="password">password</label>
            <ul class="list-unstyled alert alert-danger p-1 small invalid-feedback  ">
                <li *ngIf="password?.getError('required')">Required field</li>
                <li *ngIf="password?.getError('minlength')">minimum length 6 characters</li>
            </ul>
        </div>
        
            <button type="submit" [disabled]="LoginForm.invalid" class="btn bg-main text-white d-block ms-auto ">Login</button>
    </form>
</div>

